@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  background-color: #EEEEEE;
}

header{
  margin: 20px;
}

header h1{
  font-size: 25px;
}

.recipe{
  display: inline-block;
  vertical-align: top;
  width: 250px;
  border: 1px solid #111111;
  border-radius: 5px;
  margin: 20px;
  background-color: #DDDDDD;
}

.recipe .photo{
  position: relative;
  height: 300px;
  background-size: cover;
  border-bottom: 1px solid #111111;
  margin-bottom: 10px;
}

.recipe .photo button{
  position: absolute;
  top: 10px;
  right: 10px;
}

.recipe .name{
  font-size: 20px;
  color: #001F3F;
  padding: 5px;
}

.recipe .directions, .recipe .ingredients, .recipe .category{
  padding: 5px;
}

.recipe .ingredients li{
  position: relative;
  left: 20px;
}

#controls{
}

#visibility{
  margin-left: 20px;
}

form{
  margin: 20px;
  padding: 10px;
  display: inline-block;
  border: 1px dashed #111111;
}

form input, form button, form textarea{
  width: 350px;
  display: block;
}

#categories{
  margin-left: 20px;
}

#categories li{
  display: inline-block;
  padding: 5px;
  margin: 5px;
}

